#chart-container {
  margin: 7px;
  border: 1px solid #202649;
  border-radius: 5px;
}

#chart-container iframe {
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .TVChartContainer {
    height: 427px;
  }
}
@media screen and (max-width: 767px) {
  .TVChartContainer {
    height: 427px;
  }
}
